h1 {
  font-size: large;
  text-align: center;
}
#bigContainer {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
#firstLine,
#secondLine,
#thirdLine {
  display: flex;
  justify-content: center;
}
.gameBoard{
  width: 100px;
  height: 100px;
  background-color: white;
  color: white;
}
.grid {
  border: solid 0.2cm black;
}
.playerChoose{
  background-color: blue;
  color: white;
}
.computerChoose{
  background-color: red;
  color: white;
}
